

<h1>Create a New Post</h1>
<form action="<%=posts_url%>" method = "POST">
    <ul>
        <li>
            <label>Title
                <input type="text" name = 'post[title]'>                
            </label>
        </li>
        
        <li>
            <label>url 
                <input type="text" name = 'post[url]'>                
            </label>
        </li>

        <li>
            <label>Content 
                <input type="text" name = 'post[content]'>                
            </label>
        </li>
    </ul>

    <ul>
        <% Sub.all.each do |sub| %>
            <li>
                <label><%= sub.title %>
                    <input type="checkbox" name="title[]" value="<%= sub.title %>">
                </label>
            </li>
        <% end %>
                
    </ul>
        

    <button>Create Post</button>

</form>